/* Define custom variables using the specified color scheme */
:root {
  --main-bg-color: #dcd6f7; /* Lavender */
  --main-text-color: #333;
  --accent-color: #d75b4b; /* Dark Coral */
  --hover-color: #b54d3e; /* Darker Coral */
  --button-bg-color: #6ac995; /* Greenish Mint */
  --button-hover-color: #5aaf88; /* Darker Greenish Mint */
  --project-bg-color: #f2f2f2;
  --secondary-bg-color: #ffffff;
  --secondary-text-color: #555;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--main-bg-color);
  color: var(--main-text-color);
  padding-top: 70px; /* Adjust the value based on your navbar's height */
}

/* Navbar Styling */
.navbar {
  position: fixed; /* Add fixed positioning */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Set the width to cover the entire viewport */
  z-index: 1000; /* Ensure the navbar is above other elements */
  background-color: var(--accent-color);
  transition: background-color 0.3s; /* Add a smooth transition for background color change */
}

.navbar-brand {
  color: #fff;
  font-size: 24px;
}

.navbar-nav .nav-link {
  color: #fff;
}

.navbar-nav .nav-link:hover {
  color: var(--hover-color);
}


/* Section Styling */
.section-heading {
  color: var(--accent-color);
  text-align: center;
  margin-bottom: 30px;
}

.section-content {
  color: var(--main-text-color);
}

/* Projects Section Styling */
#projects {
  background-color: var(--project-bg-color);
}

.project-card {
  border: 1px solid var(--main-text-color);
  padding: 15px;
  margin-bottom: 30px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-bg-color);
}

.project-card h4 {
  color: var(--accent-color);
  margin-bottom: 15px;
}

.project-card p {
  color: var(--main-text-color);
}

.project-card a {
  background-color: var(--button-bg-color);
  color: #fff;
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 10px;
}

.project-card a:hover {
  background-color: var(--button-hover-color);
}

/* Contact Form Styling */
.contact-form {
  border: 1px solid var(--accent-color);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--secondary-bg-color);
}

.contact-form label {
  color: var(--accent-color);
}

.contact-form textarea {
  resize: vertical;
}

.contact-form button {
  background-color: var(--button-bg-color);
  border: none;
  color: #fff;
}

.contact-form button:hover {
  background-color: var(--button-hover-color);
}

/* Responsive Image Styling */
.responsive-image {
  max-width: 100%;
  height: auto;
}

/* Social Media Styling */
.social-media a {
  color: var(--secondary-text-color);
  text-decoration: none;
  padding: 8px 12px;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
}

.social-media a:hover {
  background-color: var(--secondary-text-color);
}
